results
workspace/repo
workspace/githistory.txt
workspace/dataset

nicad_results/**
rq1/*.csv
repos/**
AiDev_Dataset/**



rq1/*
rq2/*
01_results/*
02_results/*
03_results/*
03_results_copy/*
03_results*/*
04_results/*
05_results/*
06_results/*
07_results/*
08_results/*
09_results/*
10_results/*
11_results/*
genealogy_results/*
main_results/*
temp/*
*.rar
*.zip

.env

metrics_results/*

/**/ccg_data.xml
/**/ccg_metrics.xml

cloned_repositories
c/
java/

rq1/erros.log

.venv/
src/omniccg/final_results/
src/omniccg/clone_detector_result/
src/omniccg.egg-info/

new/clone_genealogy/

clone_detector_result/*
__pycache__/*
repo/*
search_results/*

__pycache__
*scod/

target
.metadata
.settings
.classpath
.project
*.class
# Package Files #
*.war
*.ear
.idea
*.iml
*.swp
datanucleus.log


./results/production_results.xml
./results/production_density.csv